/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Reset End */

body {
    background-color: #F5F5F5;
}

.logo,
img {
    display: flex;
    margin-left: 25%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav>a {
    text-decoration: none;
    color: #393939;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.nav>a:hover {
    text-decoration: underline;
}

.redesign {
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #272727;
    font-size: 100%;
}

.row>.column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Slideshow background */
.photos {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.452);
}

/* Slideshow image size */
.slideshow-content {
    position: relative;
    background-color: #fefefe00;
}

/* Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.proj-1 {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* On hover, add a semi-transparent background */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.493);
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* grid 1 */
.header {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "l l n n n n n n"
}

.logo {
    grid-area: l;
}

.nav {
    grid-area: n;
}

/*Media Query for Desktop */
@media screen and (min-width:960px) {

    .logo,
    img {
        grid-column: 1 / span 2;
        width: 60%;
        height: auto;
    }

    .nav {
        grid-column: 3 / span 5;
        padding-top: 4%;
        margin-left: 10%;
    }

    #contact {
        margin-left: 20%;
    }

    .nav>a {
        font-size: 130%;
    }

    .redesign {
        left: 10%;
        padding-top: 4%;
    }

    .column-1,
    .column-2,
    .column-3 {
        float: left;
        margin-top: 6%;
    }

    .column-1 {
        margin-left: 6%;
        width: 15%;
    }

    .column-2 {
        margin-left: -5%;
        width: 16%;
    }

    .column-3 {
        margin-left: -5%;
        width: 15%;
    }

    /* Slideshow image size */
    .slideshow-content {
        position: relative;
        background-color: #fefefe00;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1000px;
    }

    /* Button spacing */
    .prev {
        left: 10%;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
}

/*Media Query for Tablet*/
@media screen and (max-width:959px) {

    .logo,
    img {
        grid-column: 1 / span 2;
        width: 80%;
        height: auto;
    }

    .nav {
        grid-column: 3 / span 5;
        padding-top: 6%;
        margin-left: 10%;
    }

    #contact {
        margin-left: 20%;
    }

    .nav>a {
        font-size: 110%;
    }

    .redesign {
        left: 11%;
        padding-top: 6%;
    }

    .column-1,
    .column-2,
    .column-3 {
        float: left;
        margin-top: 10%;
    }

    .column-1 {
        margin-left: 6%;
        width: 20%;
    }

    .column-2 {
        margin-left: 2%;
        width: 21%;
    }

    .column-3 {
        margin-left: 2%;
        width: 20%;
    }

    /* Slideshow image size */
    .slideshow-content {
        margin-left: 10%;
        margin-top: 5%;
        width: 90%;
        max-width: 600px;
    }

    /* Button spacing */
    .prev {
        left: 10%;
    }

    .next {
        left: 115%;
        border-radius: 3px 0 0 3px;
    }
}

/*Media Query for Mobile*/
@media screen and (max-width:599px) {

    .logo,
    img {
        grid-column: 1 / span 2;
        margin-left: 5%;
        width: 110%;
        height: auto;
    }

    .nav {
        grid-column: 4 / span 3;
        padding-top: 15%;
    }

    #contact {
        margin-left: 30%;
    }

    .nav>a {
        font-size: 100%;
        margin-left: 10%;
    }

    .redesign {
        left: 7%;
        padding-top: 12%;
    }

    .column-1,
    .column-2,
    .column-3 {
        float: left;
        margin-top: 20%;
    }

    .column-1 {
        margin-left: 6%;
        width: 25%;
    }

    .column-2 {
        margin-left: 5%;
        width: 26%;
    }

    .column-3 {
        margin-left: 5%;
        width: 25%;
    }

    /* Slideshow image size */
    .slideshow-content {
        margin-left: 20%;
        margin-top: 20%;
        width: 90%;
        max-width: 300px;
    }

    /* Button spacing */
    .prev {
        left: -15%;
    }

    .next {
        left: 120%;
        border-radius: 3px 0 0 3px;
    }
}